/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

#storage
/storage/*
!/storage/app/public
!/storage/framework
!/storage/logs

#db insert
insert.sql
mvgg.sql
test.sql
db-backup.sql

#build 
build.tar.gz

#db
database/database.sqlite